.estilos{
    padding: 9px;
    cursor: pointer;
    font-size: xx-large;
}
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 66, 66);
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 63, 137);
}
.nav{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 152, 104);
}
.aside{
    display:flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: rgb(151, 156, 146);
}
.mainconteiner{
    display: grid;
    grid-template-columns: 70% 30%;
}